.body-background-color{
    background-color: #C6FFC1;
}
.title-style {
    color:#334443;
    margin-left: 35%;
    font-size: 20;
    padding-top: 45px;
   
}

.menu-style{
    color:  #34656D
}

.img-style{
    margin-left: 40%;
}

.text-style{
    margin-right: 30%;
    margin-left: 35%;
}

.other-page-background-color{
    color:#FFFBDF
}